@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/Content/css/bundle")
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
    <img src="~/Content/Images/error-cat.jpg" alt="Cat" />
</body>
</html>